<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinse.mapper.OrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        (id, number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark, phone, address, consignee, user_name, cancel_reason, rejection_reason, cancel_time, estimated_delivery_time, delivery_status, delivery_time, pack_amount, delivery_fee)
        values
        (#{id},#{number},#{status},#{userId},#{addressBookId},#{orderTime},#{checkoutTime},#{payMethod},#{payStatus},#{amount},#{remark},#{phone},#{address},#{consignee},#{userName},#{cancelReason},#{rejectionReason},#{cancelTime},#{estimatedDeliveryTime},#{deliveryStatus},#{deliveryTime},#{packAmount},#{deliveryFee})
    </insert>

    <update id="update">
        update orders
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="deliveryStatus != null">delivery_status = #{deliveryStatus},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
            <if test="rejectionReason != null">rejection_reason = #{rejectionReason},</if>
            <if test="estimatedDeliveryTime != null">estimated_delivery_time = #{estimatedDeliveryTime},</if>
            <if test="packAmount != null">pack_amount = #{packAmount},</if>
            <if test="deliveryFee != null">delivery_fee = #{deliveryFee},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="payMethod != null">pay_method = #{payMethod},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="consignee != null">consignee = #{consignee},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="address != null">address = #{address},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="checkoutTime != null">checkout_time = #{checkoutTime},</if>
            <if test="orderTime != null">order_time = #{orderTime},</if>
            <if test="addressBookId != null">address_book_id = #{addressBookId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="number != null">number = #{number},</if>
        </set>
        where id = #{id}
    </update>

    <select id="sumByMap" resultType="java.lang.Double">
        select sum(amount) from orders
        <where>
            <if test="begin !=null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end !=null">
                and order_time &lt;= #{end}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
            <if test="statusList!=null and statusList.size()>0">
                and status IN
                <foreach collection="statusList" item="s" open="(" close=")" separator=",">
                    #{s}
                </foreach>
            </if>
        </where>
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from orders
        <where>
            <if test="begin !=null">
                and order_time &gt;= #{begin}
            </if>
            <if test="end !=null">
                and order_time &lt;= #{end}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
            <if test="statusList!=null and statusList.size()>0">
                and status IN
                <foreach collection="statusList" item="s" open="(" close=")" separator=",">
                    #{s}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getSalesTop10" resultType="com.jinse.dto.GoodsSalesDTO">
        select od.name,sum(od.number) number from order_detail od,orders o
        where od.order_id=o.id and o.status IN (5,6)
        <if test="begin!=null">
            and o.order_time &gt;= #{begin}
        </if>
        <if test="end!=null">
            and o.order_time &lt;= #{end}
        </if>
        group by od.name
        order by number desc
        limit 0,#{limit}
    </select>

    <select id="pageQuery" resultType="com.jinse.entity.Orders">
        select o.* from orders o
        <where>
            <if test="number != null and number != ''">
                and o.number = #{number}
            </if>
            <if test="phone != null and phone != ''">
                and o.phone like concat('%',#{phone},'%')
            </if>
            <if test="status != null">
                and o.status = #{status}
            </if>
            <if test="beginTime != null">
                and o.order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and o.order_time &lt;= #{endTime}
            </if>
            <if test="userId != null">
                and o.user_id = #{userId}
            </if>
        </where>
        order by o.order_time desc
    </select>

    <delete id="deleteByIds">
        delete from orders where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>
