<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinse.mapper.ShoppingCartMapper">
    <select id="list" resultType="com.jinse.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId!=null"> and user_id=#{userId} </if>
            <if test="flowerId!=null"> and flower_id=#{flowerId} </if>
            and number is not null
        </where>
        order by create_time desc
    </select>

</mapper>
